<div class="row">

  <div class="col-3">
    <ul class="list-group" *ngFor="let category of categories$ | async">
      <li class="list-group-item">{{category | titlecase}}</li>
    </ul>
  </div>

  <div class="col-9">
    <div class="row">
      <ng-container *ngFor="let p of products$ | async; let i = index">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <a href="#"><img src="{{p.imageUrl}}" class="card-img-top" alt="{{p.title}}"></a>
            <div class="card-body">
              <h2 class="card-title">{{p.title}}</h2>
              <p class="card-text">{{p.description}}</p>
              <h6 class="card-text price">R{{p.price}}</h6>
              <pre>{{getQuantity()}}</pre>
              <div *ngIf="showActions" class="card-footer">
                <button
                  *ngIf="getQuantity(p) !== 0; else updateQuantity"
                  (click)="addToCart()"
                  class="btn btn-secondary btn-block">Add to Cart</button>
                <ng-template #updateQuantity>
                  <app-product-quantity [product]="p" [shopping-cart]="shoppingCart">
                  </app-product-quantity>
                </ng-template>
              </div>

            </div>
          </div>
        </div>
        <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>

</div>







